{% extends 'base.html.twig' %}

{% block body %}

{% if app.request.method == 'POST' %}
    <div>
        {% if tournois | length == 0 %}
            <h4>Aucun résulat pour votre recherche.</h4>
           {% else %}
               <h3 class="mt-3">Vos résulats de recherche :</h3>
               {% for e in tournois %} 

                    <div class="lister">   
                        <table class="w3-table">
                            <tr>
                                <th>nom du tournoi</th>
                                <th>description du tournoi</th>
                            </tr>

                        <tr>
                            <td><h5> {{ e.nom }} </h5> </td>
                            <td><h5> {{ e.description }} </h5></td>
                        </tr>
                        
                        </table>  
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endif %}
{% endblock %}
