{% extends 'base.html.twig' %}

{% block body %}
    <div class="center-div">
    <h1>Bienvenue dans notre site !</h1>

    <p class="blocktext">Vous trouverez sur notre site toutes les informations concernant les evenements sportifs,
     les catournois qui sont organisés ou qui seront organiser, les equipes qui participent aux tournois precis. 
     Nous attirons votre attention sur le fait que certains informations ne sont pas affichés explicitement. En 
     fonction de ce que vous souhaitez consulter, vous devez naviguer dans le menu du site. Ainsi, si vous souhaitez
      connaître les matches joués ou à venir, par exemple, vous devez cliquer sur "Matchs" du menu deroulant ...etc</p>

    </div>

<style>

p.blocktext {
    margin-top: 20px;
}

.center-div {
    margin-top: 60px;
}
</style>


 {% endblock %}